<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
    <title>PlatziCommerce</title>
  </head>

  <body>
    <div id="app">
      <header>
        <h1>PlatziCommerce</h1>
        <button class="cart" v-on:click="cartOpen = !cartOpen">
          Carrito ({{cart.length}})
        </button>
        <div class="cart-content" v-show="cartOpen">
          <div
            class="cart-content__product"
            v-for="(item, index) in cart"
            :key="index"
            :class="{'bg-gray': index & 1}"
          >
            <img :src="item.images[0].image" alt="" />
            <span>
              {{item.name}} - $ {{formatPrice(item.price)}} ({{item.quantity}})
            </span>
          </div>
          <p>Total: ${{formatPrice(totalCarrito)}}</p>
        </div>
      </header>
      <main>
        Buscar:
        <input type="text" placeholder="Buscar..." v-model="search" />
        <Product
          v-for="product in productsFiltered"
          :key="product.name"
          :product="product"
          @send-to-cart="addCart"
        ></Product>
      </main>
    </div>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            products: [],
            cartOpen: false,
            // totalCarrito: 0,
            cart: [],
            search: "",
          };
        },
        methods: {
          formatPrice(value) {
            return Intl.NumberFormat("es-CO").format(value);
          },
          addCart(product) {
            const prodIndex = this.cart.findIndex(
              (prod) => prod.name == product.name
            );
            if (prodIndex == -1) {
              this.cart.push(product);
            } else {
              this.cart[prodIndex].quantity++;
            }
            product.stock -= 1;
          },
        },
        watch: {
          // cart: {
          //   handler(newValue, oldValue) {
          //     this.totalCarrito = newValue.reduce((sum, item) => {
          //       return item.price * item.quantity + sum;
          //     }, 0);
          //   },
          //   deep: true,
          // },
        },
        computed: {
          totalCarrito() {
            return this.cart.reduce((sum, item) => {
              return item.price * item.quantity + sum;
            }, 0);
          },
          productsFiltered() {
            if (this.search != "") {
              return this.products.filter(
                (prod) => prod.name.toLowerCase() == this.search.toLowerCase()
              );
            } else {
              return this.products;
            }
          },
        },
        async created() {
          try {
            const res = await fetch(
              "https://my-json-server.typicode.com/Ameth/vuejs-platzicommerce/db"
            );
            const data = await res.json();
            // console.log(data);
            this.products = data.products;
          } catch (error) {
            console.log("No se pudo conectar a la API", error);
          }
        },
      });
    </script>
    <script src="Badge.js"></script>
    <script src="Product.js"></script>
    <script>
      app.mount("#app");
    </script>
  </body>
</html>
